.delivery {
  &__title {
    font-size: 24px;
    font-weight: bold;
  }
  &__location {
    font-size: 16px;
    font-weight: 500;
  }
  &__link {
    color: $button;
    text-decoration: underline;
  }
  &__subtitle {
    font-size: 16px;
    font-weight: 500;
  }
}

.delivery-map {
  width: 100%;
  height: 310px;
}

.delivery-company {
  margin-left: 10px;
}

.delivery-list {
  list-style: none;
  padding-left: 0;
}

.delivery-list li {
  padding-bottom: 15px;
}

.blue {
  color: $button;
  font-weight: 500;
}

.delivery-info {
  min-height: 170px;
  border-left: 8px solid $button;
  padding: 20px 45px;
  line-height: 1.4em;
  font-weight: 500;
}

