.request-body {
  &__title {
    font-size: 24px;
    font-weight: bold;
  }
  &__input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__input input {
    min-width: 245px;
    background-color: $accent-color;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    padding: 10px 20px;
    &:focus {
      outline: none;
      background-color: darken($accent-color,10%);
    }
  }
}

.request-form {
  &__title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 25px;
  }
  &__checkbox {
    margin-bottom: 25px;
  }
}

.req-control {
  border-radius: 0;
}

.file-upload {
  position: relative;
  overflow: hidden;
  width: 27%;
  height: 37px;
  background: $button;
  padding: 8px 4px;
  color: #fff;
  text-align: center;
}
.file-upload:hover {
  background: lighten($button,10%);
}
.file-upload input[type="file"]{
  display: none;
}
.file-upload label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.file-upload span {
  line-height: 36px;
  font-size: 16px;
  font-weight: bold;
}

.comment {
  max-width: 27%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 3px;
}

.comment-small {
  position: relative;
  left: 190px;
  top: -31px;
}

@media (max-width: 575.98px) {
  .comment-small {
    top: 0;
    left: 0;
  }
  .file-upload {
    width: 100%;
  }
  .request-body__input input {
    margin: 10px auto;
  }
}