.catalog {
  &__title{
    font-size: 24px;
    font-weight: bold;
  }
}
.catalog-item {
  margin: 13px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 263px;
  height: 318px;
  background-color: #fff;
  box-shadow: -3px 0 19px 13px rgba(20,20,23,.02);
  position: relative;
  &__stiker {
    position: absolute;
    left: 0;
    top: -12px;
  }
  &__block {
    display: flex;
    margin-left: auto;
  }
  &__image {
    max-height: 130px;
    margin-bottom: 10px;
  }
  &__article {
    font-size: 12px;
  }
  &__title  {
    font-weight: bold;
    font-size: 16px;
  }
  &__footer {
    margin-top: 34px;
  }
}

.catalog-icon {
  position: relative;
  margin-right: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: $button;
  background-image: url("../img/catalog-icon-garanty.png");
  background-repeat: no-repeat;
  background-position: center;
}

.filter {
  &__title {
    font-size: 18px;
    font-weight: bold;
  }
  &__nav-tabs {
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
  }
  &__link {
    color: #b7b7b7;
    font-size: 16px;
    font-weight: 500;
    padding-left: 0;
    &:hover {
      color: lighten(#b7b7b7,10%);
    }
  }
  &__container {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    height: 290px;
    justify-content: space-between;
  }
  &__checkbox {
    margin-bottom: 30px;
    margin-left: 5px;
  }
  &__control-label {
    margin-left: 5px;
    font-size: 14px;
  }
  &__result {
    display: flex;
    font-size: 14px;
    font-weight: 500;
  }
  &__result div {
    margin-right: 5px;
    margin-left: 5px;
  }
  &__cancel {
    border: none;
    color: red;
    background-color: #fff;
    font-size: 14px;
    cursor: pointer;
    &:hover {
      color: darken(red,15%);
    }
    &:focus {
      outline: none;
    }
  }
}

.nav-tabs .filter__link.active {
  color: #1a1d1f;
  background-color: #fff;
}
