.modal-basket {
  &__dialog {
    max-width: 830px;
  }
  &__title {
    font-size: 24px;
    font-weight: bold;
    padding: 40px 0 0 50px;
  }

  &__body {
    padding: 20px 50px 50px 50px;
  }

  &__info div {
    padding-bottom: 10px;
  }

  &__image {
    max-width: 200px;
  }

  &__text h6 {
    font-size: 16px;
    font-weight: bold;
    padding: 15px 0;
  }

  &__remain {
    color: red;
  }

  &__old-price {
    text-decoration: line-through;
    font-size: 14px;
    font-weight: 500;
    text-align: right;
  }

  &__price {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    padding-bottom: 10px;
  }

  &__count {
    color: grey;
    text-align: right;
  }

  &__other div {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__button {
    font-size: 14px;
    font-weight: 500;
    border-radius: 0;
  }
}

.modal-basket__button--white {
  color: #000000;
  background-color: $accent-color;
  border: none;
}

@media (max-width: 575.98px) {
  .modal-basket__title {
    padding: 0;
  }

  .modal-basket__body {
    padding: 0;
  }

  .modal-basket__other {
    margin-top: 45px;
  }

  .modal-basket__button {
    margin: 10px auto;
  }
}

@media (max-width: 767.98px) {
  .modal-basket__image {
    max-width: 149px;
  }
}

