.error-page {
  &__image {
    width: 100%;
    height: 750px;
    margin-top: 130px;
    margin-bottom: 106px;
    background-image: url(../../img/error404.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__text {
    margin-bottom: 100px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
  }

  &__text a {
    color: $button;
    &:hover {
      color: lighten($button, 15%);
    }
  }
}

@media (max-width: 575.98px) {
  .error-page__image {
    height: 280px;
  }
}