.order-page {
  &__title {
    font-size: 24px;
    font-weight: bold;
    padding-left: 15px;
    margin: 45px 0;
  }
}

.order {
  &__client-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 0;
    &:checked + label {
      border-bottom: 1px solid $button;
      color: $button;
    }
  }
  &__client-label {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    left: -18px;
    padding-bottom: 20px;
    margin-bottom: 35px;
    &:active {
      border-bottom: 1px solid $button;
    }
    &:focus {
      border-bottom: 1px solid $button;
    }
  }
  &__label {
    font-size: 16px;
    font-weight: 600;
  }
  &__label small {
    display: block;
    color: grey;
    font-size: 12px;
  }
  &__textarea {
    font-size: 12px;
    min-height: 140px;
  }
  &__radio {
    margin: 10px 0;
  }
  &__group input {
    border-radius: 0;
  }

  &__group textarea {
    border-radius: 0;
  }

  &__btn {
    border-radius: 0;
  }

  &__comment {
    font-size: 12px;
  }

  &__comment a {
    color: $button;
    &:hover {
      color: lighten($button, 15%);
    }
  }
}

.teaser--white {
  background-color: #FFFFFF;
  margin-bottom: 0;
}

.teaser__item--white {
  padding: 85px 0;
}

.teaser__svg--white {
  top: 73px;
}

.order-product-list {
  &__price {
    text-align: right;
    font-weight: bold;
  }
  &__count {
    font-weight: bold;
  }
  &__sub {
    cursor: pointer;
    &:hover {
      border-radius: 50%;
      background-color: red;
    }
  }
  &__bg {
    position: relative;
    top: -5px;
    padding: 0 5px;
    font-weight: bold;
  }
  &__add {
    cursor: pointer;
    &:hover {
      border-radius: 50%;
      background-color: blue;
    }
  }
  &__summ span{
    font-weight: normal;
  }
}

.product-slider-order {
  background-color: $accent-color;
}

.product-buttons {
  display: flex;
  justify-content: space-around;
  max-width: 45%;
  margin-left: auto;
}

.fa-trash-alt--center {
  margin: 5px auto 0;
  font-size: 20px;
  &:hover {
    color: #0a7eff;
    transition: color .3s ease;
    cursor: pointer;
  }
}

@media (max-width: 575.98px) {
  .order__comment {
    margin-top: 10px;
  }

  .order-product-list__count {
    display: none;
  }

  .order-product-list__price {
    display: none;
  }

  .order-product-list__form {
    margin: 15px 0;
  }
}