.actions__content-left {
  width: 50%;
  padding: 0;
  background-image: url(../../img/main__banner_electrolux.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.actions__slide {
  display: flex;
}

.action__details {
  max-width: 500px;
  margin: 45px;
}

.actions__image {
  width: 100%;
  height: 100%;
}

.actions__title {
  font-family: Geometria, sans-serif;
  font-weight: bold;
  font-size: 28px;
  margin-top: 30px;
  margin-bottom: 27px;
}

.actions__description {
  font-family: Geometria, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
}

.actions__button {
  margin-top: 35px;
 /* background: linear-gradient(to top,#f4f9ff 0,#0a7eff 100%); */
}

.actions__icon {
  position: relative;
  left: 10px;
  top: 3px
}

@media (max-width: 991.98px) {
  .action__details {
    max-height: 300px;
    width: 100%;
    margin: 35px;
  }

  .actions__button {
    margin-top: 5px;
  }

  .actions__title {
    margin: 4px auto;
  }
}