.basket {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  
  &__content {
    cursor: pointer;
  }

  &__icon {
    margin-right: 10px;
    position: relative;
  }

  &__text a {
    &:active {
      color: darken($button,40%);
    }
  }
}
