.button {
  position: relative;
  font-family: Geometria, sans-serif;
  font-weight: 500;
  display: block;
  width: 152px;
  height: 38px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  padding: 7px;
  transition: all .35s ease-out;
/*  background: linear-gradient(to top,#f4f9ff 0%, #077dff 100%);
  background-position:100% 100%;
  background-size:1px 300px;
  cursor:pointer;
  */
  color: #FFFFFF;
  background-color: $button;

  &:hover {
  /*  background-position: 0% 0%;
    background-size:1px 130px; */
    background-color: lighten($button,15%);
  }

  &:focus {
    background-color: darken($button,15%);
  }
}