.example-desc {
  margin: 3px 0;
  padding: 5px;
}

#carousel {
  margin: 0px auto;
  height: 300px;
  position: relative;
  clear: both;
  overflow: hidden;
  background: #FFF;
}

#carousel img {
  visibility: hidden; /* hide images until carousel can handle them */
  cursor: pointer; /* otherwise it's not as obvious items can be clicked */
}

.split-left {
  width: 450px;
  float: left;
}

.split-right {
  width: 400px;
  float: left;
  margin-left: 10px;
}

#callback-output {
  height: 250px;
  overflow: scroll;
}

textarea#newoptions {
  width: 430px;
}

.nav {
  width: 80px;
  margin: 20px auto
}

.carousel__image {
  width: 370px;
  height: 280px;
  &_veil {
    &::before {
      width: 100%;
      height: 100%;
      content: '';
      background-color: black;
      opacity: .35;
    }
  }
}