.category {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0 0 13px rgba(35, 28, 28, 0.24);
  height: 245px;
  margin-top: 15px;
  margin-bottom: 15px;

  &__title {
    margin-bottom: -30px;
    font-size: 24px;
    font-weight: 700;
    font-family: Geometria, sans-serif;
  }

  &__block-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 160px;
    height: 190px;
    margin-left: 25px;
    margin-right: 20px;
  }

  &__block-left {
    width: 120px;
  }

  &__block {
    width: 310px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__little-man {
    position: absolute;
    bottom: -22px;
    right: -10px;
  }

  &__button {
    background-color: #f3f9ff;
    color: $button;
    &:hover {
      background-color: $button;
      color: #fff;
    }
  }

}



