body {
  font-family: Geometria, sans-serif;
  font-size: 14px;
  color: black;
  line-height: 1.3;
  margin: 0;
}

.main-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  box-shadow: 0 -5px 9px 2px #dbdbdb;
}

.container {
  max-width: 1170px;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

input {
  transition: color .3s ease;
  &:focus {
    background-color: darken(#fff,10%);
  }
}

.fa-star {
  font-size: 25px;
  margin-right: 10px;
}

.swiper-container-big {
  position: relative;
}

.swiper-pagination-big {
  position: absolute;
  left: 54%!important;
  top: 85%;
}


/* fix bootstrap theme */
.btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: $button;
  background-color: inherit;
  border-radius: 0px;
  border-color: $button;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(0,123,255,.1);
}

.btn-primary {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: $button;
  border-color: $button;
  border-radius: 0px;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0 rgba(0,123,255,.1);
}

.btn-secondary {
  font-size: 14px;
  font-weight: bold;
  color: black;
  background-color: $accent-color;
  border-color: $accent-color;
  border-radius: 0;
}

.btn-secondary:focus {
  box-shadow: 0 0 0 0 rgba(108,117,125,.1);
}

.btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  color: black;
  background-color: $accent-color;
  border-color: $accent-color;
  border-radius: 0;
}

.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: black;
  background-color: #fff;
  border: none
}

.page-link:hover {
  z-index: 2;
  color: #FFFFFF;
  text-decoration: none;
  background-color: $button;
  border-color: #dee2e6;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.page-item:first-child .page-link {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.page-link:focus {
  z-index: 2;
  outline: 0;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, .25);
}

.form-control:focus {
  box-shadow: 0 0 0 0 rgba(0, 123, 255, .25);
}


