.contacts-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  
  &__icon {
    width: 40px;
    height: 27px;
  }

  &__button {
    color: $button;
    border-bottom: 1px solid $button;
    transition: color .3s ease;
    &:active {
      color: darken($button,40%);
    }
  }
}

