.contacts {
  &__title {
    font-family: Geometria, sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 22px;
  }
  &__list {
    font-family: Geometria, sans-serif;
    font-size: 16px;
    line-height: 30px;
  }

  &__tel {
    font-size: 20px;
    font-weight: bold;
  }


  &__link {
    color: $button;
    border-bottom: 1px solid $button;
    transition: color .3s ease;
    &:active {
      color: darken($button,40%);
    }
  }
}