.email-feedback {
  background-color: $accent-color;

  &__wrapper {
    position: relative;
    width: 90%;
    min-height: 190px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
    box-shadow: -3px 0px 19px 13px rgba(20, 20, 23, 0.02);
  }

  &__image {
    width: 91px;
    height: 90px;
    position: absolute;
    background-image: url(../../img/e-mail.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: 51px;
    left: -42px;
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 82%;
    text-align: center;
  }

  &__form {
    width: 68%;
    height: 40px;
    margin: 0 auto;
  }

  &__tel  {
    float: left;
    border: none;
    width: 70%;
    height: 100%;
    padding-left: 17px;
    background-color: $accent-color;
  }

  &__tel:focus {
    outline-color: #fff;
  }

  &__tel:active {
    outline-color: #fff;
  }

  &__submit {
    float: right;
    border: none;
    width: 30%;
    height: 100%;
    margin: 0 auto;
  /*  background: linear-gradient(to top,#f4f9ff 0,#0a7eff 100%); */
  }
}