.favorites {
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    cursor: pointer;
  }

  &__text a {
    &:active {
      color: darken($button,40%);
    }
  }

  &__icon {
    position: relative;
  }
}