.feedback {
  width: 100%;
  height: 195px;
  position: relative;
  margin-bottom: 70px;
  background-color: #fff;
  box-shadow: -3px 0px 19px 13px rgba(20, 20, 23, 0.02);

  &__title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 140px;
    margin-bottom: 43px;
    width: 66%;
  }

  &__form {
    width: 66%;
    height: 40px;
    margin-left: 140px;
    position: relative;
}
  &__tel  {
    float: left;
    padding-left: 17px;
    width: 70%;
    height: 100%;
    border: none;
    background-color: $accent-color;
  }

  &__tel:active {
    outline-color: #fff;
  }

  &__tel:focus {
    outline-color: #fff;
  }

  &__submit {
    width: 30%;
    height: 100%;
    float: right;
    border: none;
  /*  background: linear-gradient(to top,#f4f9ff 0,#0a7eff 100%); */
  }

  &__image  {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #0d80ff;
    position: absolute;
    top: 51px;
    left: -42px;
    background-image: url(../../img/tel.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}
