.icons {
  display: flex;
  justify-content: space-between;
  max-width: 90%;

  &__item {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity .3s ease;

    &:hover {
      opacity: .45;
    }

    &:active {
      opacity: .75;
    }
  }
}