.info {
  &__title {
    font-family: Geometria, sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 22px;
  }
  &__link {
    color: #ffffff;
    font-size: 16px;
    line-height: 30px;
    transition: color .3s ease;
    &:active {
      color: darken($button,40%);
    }
  }

  &__list {
    list-style-type: none;
    padding: 0;
  }
}