.location {
  display: flex;
  width: 137px;
  height: 26px;
  color: #1483ff;
  font-weight: 500;

  &__toggle-icon {
    width: 15px;
    height: 25px;
    margin-right: 10px;
  }

  &__toggle-text {
    margin-top: 4px;
    &:hover {
      color: darken($button,10%);
    }
    &:active {
      color: darken($button,30%);
    }
  }

  &__toggle-content {
    cursor: pointer;
    display: flex;
  }

  &__toggle-arrow {
    width: 7px;
    margin-left: 6px;
    margin-top: 4px;
  }
}

