// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

  .feedback{
    margin: 27px auto;
  }

  .feedback__form {
    margin: 10px auto;
    width: 85%;
    height: 40px;
  }

  .feedback__image {
    display: none;
  }
  .feedback__title {
    margin: 20px auto;
    width: 85%;
    text-align: center;
  }

  .feedback__tel {
    width: 100%;
    margin: 0 auto;
  }

  .feedback__submit {
    width: 100%;
  }

  .main-footer {
    padding: 50px 40px;
  }

  .main-footer__contacts {
    width: 100%;
  }

  .category__block-left{
    width: 50%;
  }

  .category__image {
    width: 70%;
  }

  .category__title {
    text-align: center;
  }

  .category__block-right{
    width: 50%;
  }

  .category__text {
    padding-left: 19px;
  }

  .catalog {
    margin-bottom: 0;
  }

  .product-slider {
    padding: 65px 0 0 0;
  }

  .swiper-container {
    height: 350px;
  }

  .partners__title {
    margin-bottom: 64px;
  }

  .category__little-man {
    bottom: -16px;
    right: -8px;
    width: 43%;
  }

  .email-feedback__image {
    display: none;
  }

  .email-feedback__wrapper {
    width: 100%;
    min-height: 236px;
  }

  .email-feedback {
    margin: 27px auto;
  }

  .email-feedback__form {
    margin: 10px auto;
    width: 85%;
    height: 40px;
  }

  .email-feedback__title {
    margin: 20px auto;
    width: 85%;
    text-align: center;
    padding: 15px 0;
  }

  .email-feedback__submit {
    width: 100%;
  }

  .main-footer__info {
    width: 100%;
    margin-top: 40px;
  }

  .main-footer__help {
    width: 100%;
    margin-top: 40px;
  }

  .main-footer__contacts {
    width: 100%;
    margin-top: 40px;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .basket {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 20px;
  }

  .contacts-link {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 20px;
  }

  .service {
    padding: 0;
    height: 470px;
    margin: 0 auto;

  }

  .region {
    padding: 20px 20px 20px 0;
  }

  .location {
    margin-left: 36px;
    width: 160px;
    &__toggle-icon{
      margin-right: 23px;
    }
  }

  .video-reviews__footer{
    text-align: center;
  }

  .partners__footer {
    text-align: center;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .w-100 {
    display: none;
  }

  .feedback {
    margin: 0 auto;
    width: 82%;
  }

  .logo__container {
    justify-content: center;
  }

  .actions {
    display: none;
  }

  .promo {
    display: none;
  }

  .email-feedback__submit {
    width: 100%;
  }

  .email-feedback__wrapper {
    width: 100%;
    min-height: 236px;
  }

  .email-feedback__tel {
    width: 100%;
    margin: 0 auto;
  }

  .main-footer__info {
    width: 100%;
    margin-top: 40px;
  }

  .main-footer__help {
    width: 100%;
    margin-top: 40px;
  }

  .main-footer__contacts {
    width: 100%;
    margin-top: 40px;
  }

  .main-footer__social {
    width: 100%;
    margin-top: 40px;
  }

  .product-slider__slide {
    width: 70%!important;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}