.menu {

  &__dropdown {
    background-color: #fff;
    line-height: 2;
  }

  &__dropdown-item {
    font-size: 12px;
    font-family: Geometria, sans-serif;
    background-color: #fff;
    transition: color .3s ease;
    &::after {
      content: '>';
      position: relative;
      right: -7px;
    }
  }

  &__link {
    font-family: Geometria, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: black;
    transition: color .3s ease;
    &:hover {
      color: $button;
    }
    &:active {
      color: darken($button,20%);
    }
  }
}


