.button--wide {
  width: 230px;
}

.button--search {
  width: 20%;
  height: 30px;
  line-height: 16px;
  float: right;
  border: none;
/*  background: linear-gradient(to top,#f4f9ff 0,#0a7eff 100%); */
}

.category--no-image {

}

.category--bg {
  background-image: url('../../img/catalog_bg.png');
}


.category__title--white {
  color: #FFFFFF;
}

.button--white {
  background-color: #fff;
  color: #000000;
}

.button--margin {
  margin-bottom: 60px;
  margin-top: -11px;
}

.btn-primary__modal {
  background-color: $accent-color;
  color: $button;
  border: none;
  border-color: #fff;
  text-decoration: underline;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  &:hover {
    color: $button;
    background-color: #FFFFFF;
    box-shadow: 0px 0px #FFFFFF;
  }
  &:focus {
    background-color: #FFFFFF;
    box-shadow: 0px 0px #FFFFFF;
  }
  &:active {
    background-color: #FFFFFF;
    color: $button;
    box-shadow: 0px 0px #FFFFFF;
  }
}

.btn-primary__modal--footer {
  background-color: #272a2b;
  &:hover {
    color: $button;
    background-color: #272a2b;
    box-shadow: 0px 0px #272a2b;
  }
  &:focus {
    background-color: #272a2b;
    box-shadow: 0px 0px #272a2b;
  }
  &:active {
    background-color: #272a2b;
    color: $button;
    box-shadow: 0px 0px #272a2b;
  }
}

.promo__image--big {
  height: 480px;
  background-image: url(../../img/service-man.png);
  background-repeat: no-repeat;
  position: relative;
  top: 27px;
  right: 85px;
}

.promo__title--mtop {
  margin-top: 64px;
  font-size: 30px;
  font-weight: bold;
}

.promo__text--mtop {
  margin-top: 64px;
}

.product-slider__stiker--yellow {
  background-color: #ffbc24;
}

.product-slider__stiker--orange {
  background-color: #ff6816;
}

.product-slider__stiker--blue {
  background-color: #941fff;
}

.product-slider__stiker--green {
  background-color: #b3d621;
}

.fa-star--center {
  margin: 5px auto 0;
  font-size: 20px;
}

.fa-star--center:hover {
  color: $button;
  transition: color .3s ease;
  cursor: pointer;
}

.icons__item--ok {
  background-image: url(../../img/ok.png);
  background-repeat: no-repeat;
}

.icons__item--inst {
  background-image: url(../../img/ins.png);
  background-repeat: no-repeat;
}

.icons__item--fb {
  background-image: url(../../img/fb.png);
  background-repeat: no-repeat;
}

.icons__item--vk {
  background-image: url(../../img/vk.png);
  background-repeat: no-repeat;
}