.partners {
  position: relative;
  margin-bottom: 62px;
  &__logo {
    height: 40px;
    width: auto;
    transition: all .3s ease;
    &:hover {
      // -webkit-filter: drop-shadow(0px 0px 1px rgba(0, 40, 0, 0.3));
    }
  }

  &__link {
    color: $button;
    border-bottom: 1px solid $button;
    transition: color .3s ease;
    &:active{
      color: darken($button,40%);
    }
  }

  &__footer {
    margin: 10px auto;
  }

  .swiper-container {
    height: 100px;
    padding: 0 15px;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-button {
    position: absolute;
    top: calc(50% + 10px);
    width: 11px;
    height: 20px;
    background-size: cover;
    outline: none;
  }

  .swiper-button--next {
    background-image: url('../../img/right.png');
    right: 100px;
  }

  .swiper-button--prev {
    background-image: url('../../img/left.png');
    left: 100px;
  }
}