.product-slider {
  background-color: #f7f7f7;
  padding: 65px 0;

  &__title {
    height: 40px;
  }

/*  &__slider {
    width: 270px;
    height: 350px;
  } */

  &__slide {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 270px;
    height: 318px;
    background-color: #fff;
    box-shadow: -3px 0px 19px 13px rgba(20, 20, 23, 0.02);
    margin: 15px;
    position: relative;
  }

  &__image {
    min-height: 155px;
  }

  &__main {
    color: #cacaca;
    width: 80%;
  }

  &__description {
    width: 80%;
    color: #2e91ff;
    font-weight: 500;
    margin-bottom: 25px;
  }

  &__footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 11px;
    padding: 0 24px;
  }

  &__prise {
    font-size: 24px;
    font-weight: bold;
    min-width: 116px;
    position: relative;
  }

  &__stiker {
    position: absolute;
    min-width: 55px;
    text-align: center;
    padding: 3px 5px 1px;
    height: 25px;
    top: -14px;
    left: 0;
    color: #FFFFFF;
  }

  &__like {
    margin-left: 16px;
  }

  &__basket {
    width: 45px;
    height: 30px;
    background-color: $button;
    text-align: center;
    cursor: pointer;
    transition: opacity .3s ease;

    &:hover {
      opacity: .45;
    }

    &:active {
      opacity: .75;
    }
  }

  &__basket svg {
    padding-top: 3px;
  }

  &__old-price {
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    top: -19px;
    text-decoration: line-through;
  }
}

.swiper-container-catalog {
  width: 1170px;
  height: 375px;
}