.promo {
  height: 410px;
  background-image: url(../../img/promo.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;

  &__button {
    font-size: 20px;
    position: absolute;
    top: 270px;
    left: 100%;
    width: 239px;
    height: 51px;
    line-height: 32px;
    background-color: #fff;
    color: #9a12f7;
  }

  &__title {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
  }

  &__text {
    font-size: 16px;
  }

  &___feedback-form {
    margin-bottom: 10px;
    background-image: url(../../img/feedback-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}

