.quantity-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $button;
  text-align: center;
  color: #FFFFFF;
  font-size: 11px;
  position: absolute;
  left: 15px;
  bottom: -8px;
}