.social {
  &__title {
    font-family: Geometria, sans-serif;
    font-weight: bold;
    font-size: 18px;
    max-width: 90%;
    margin-bottom: 22px;
  }

  &__pay-img {
    margin-top: 40px;
    width: 100%;

  }
}
