.teaser {
  background-color: $accent-color;
  margin-bottom: 62px;
  &__item {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    height: 115px;
  }

  &__image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 2px #3a2f2f38;
    margin-right: 13px;
  }

  &__text {
    width: 63%;
  }

  &__svg {
    position: absolute;
    top: 47px;
    left: 33px;
  }
}