.top-panel {
  display: flex;
  background-color: $accent-color;
  box-shadow: 0px 1px 3px rgba(54,46,54,.36);
  min-height: 80px;
}

.input-window__form {
  width: 100%;
}

.input-window__form input {
  width: 80%;
  padding: 6px 20px 6px 20px;
  background-color: #FFFFFF;
  border: none;
}

.input-window__form input:active {
  outline-color: #FFFFFF;
}

.input-window__form input:focus {
  outline-color: #FFFFFF;
}

.fa-search {
  font-size: 14px;
}

