.user-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;

  &__item {
    display: flex;
    align-items: center;
    margin-top: 12px;
    min-width: 150px;
    justify-content: space-between;
  }
  
  &__link {
    transition: color .3s ease;
  }
}

.user-block__link:hover {
  color: $button;
  &:active {
    color: darken($button,40%);
  }
}

