.video-reviews{
  margin-bottom: 62px;
    &__carousel{

    }

    &__title {
      
    }

    &__footer {
      margin: 10px auto;
    }

    &__link {
      color: $button;
      border-bottom: 1px solid $button;
      transition: color .3s ease;
      &:active{
        color: darken($button,40%);
      }
    }
}