.breadcrumbs {
  display: flex;
  height: 110px;
  align-items: center;
  flex-wrap: wrap;

  &__item {
    position: relative;
    min-width: 95px;
    min-height: 30px;
    padding: 6px 25px;
    background-color: #f3f3f3;
    text-decoration: underline;
    cursor: pointer;
    transition: color .3s ease;
    font-size: 12px;
    margin-right: 35px;
    &::before {
      color: #9db2c6;
      content: '>';
      font-size: 20px;
      position: absolute;
      right: -23px;
      top: 2px;
    }
  }

  &__item--last {
    &::before {
      color: #9db2c6;
      content: '';
      font-size: 20px;
      position: absolute;
      right: -23px;
      top: 2px;
    }
  }
}

@media (max-width: 575.98px) {
  .breadcrumbs {
    height: 165px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
  }
}