.product-slider-recommend {
  min-height: 650px;
  background-color: $accent-color;
}

.recommend-title {
  margin-top: 65px;
  margin-bottom: 40px;
}

.item-for-link {
  display: flex;
  flex-wrap: wrap;
}

.item-for-link__tab {
  position: relative;
  min-width: 95px;
  min-height: 30px;
  padding: 6px 25px;
  background-color: $button;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  transition: color .3s ease;
  font-size: 12px;
  margin-right: 35px;
  margin-bottom: 35px;
}

@media (max-width: 575.98px) {
  .recommend-title {
    margin-bottom: 75px;
    text-align: center;
  }

  .item-for-link {
    justify-content: center;
  }
}