.prodict__image {
  min-height: 350px;
}

.product__image-big {
  min-width: 470px;
  min-height: 180px;
}

.product__image-big img {
  width: 100%;
}


.product__sticker {
  display: flex;
  align-items: center;
}

.stiker {
  min-width: 55px;
  text-align: center;
  padding: 3px 5px 1px;
  height: 25px;
  color: #fff;
  margin-right: 30px;
}

.product-slider__stiker-info {
  margin-left: auto;
  width: 115px;
  &:last-child {
    font-weight: bold;
  }
}

.product__block-intro {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 375px;
  height: 324px;
}

.product__block-title {
  font-size: 24px;
  font-weight: bold;
}

.product__block-cost {
  margin-top: 45px;
  font-size: 34px;
  font-weight: bold;
}

.product__block-button {
  margin-top: 35px;
  margin-bottom: 45px;
}

.product__block-look {
  margin-top: 20px;
}

.product__block-rating {
  margin-top: 22px;
}

.rating {
  float: left;
  width: 110px;
}

.product__block-link {
  float: left;
  margin-left: 16px;
}

.product__block-look {
  padding-top: 15px;
}

.product__block-look span {
  padding-left: 15px;
}

.product__block-info a {
  color: $button;
  padding-right: 20px;
}

.fas.fa-star {
  font-size: 16px;
  color: $button;
  margin: 0;
}

@media (max-width: 575.98px) {
  .product__image-big {
    min-width: auto;
  }

  .product__sticker {
    margin-top: 30px;
  }

  .product__block-intro {
    align-items: center;
  }

  .product__block-title {
    font-size: 20px;
    text-align: center;
  }

  .product__block-button {
    margin-bottom: 0;
  }
}

@media (max-width: 991.98px) {
  .product__block-intro {
    margin-top: 25px;
  }
}