.product__nav-tabs {
  width: 640px;
  height: 37px;
  margin-top: 80px;
  margin-left: 0;
  border: none;
}

.product__nav-link {
  font-size: 15px;
  font-weight: 500;
}

.nav-tabs .nav-link {
  border: none;
}

.product__nav-item {
  width: 160px;
  text-align: center;
  &:hover {
    border-bottom: 1px solid $button;
  }
}

.product__nav-item.active {
  border-bottom: 1px solid $button;
}

.product__tab-content {
  height: 690px;
  margin-bottom: 100px;
}

.product__tab-content-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 45px;
  margin-bottom: 40px;
}

.product__text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  border-bottom: 1px dashed #e7e7e7;
}

.product__text span {
  font-size: 16px;
  font-weight: 500;
  font-weight: 500;
}

.product__text span:last-child {
  font-weight: bold;
  text-align: right;
}

.fa-info-circle {
  margin-left: 15px;
  color: #e6e6e6;
  cursor: pointer;
}

@media (max-width: 575.98px) {
  .product__nav-tabs {
    margin-top: 55px;
    margin-bottom: 130px;
    justify-content: center;
  }

  .product__tab-content {
    min-height: 690px;
    margin-bottom: 220px;
  }
}

@media (max-width: 767.98px) {
  .product__nav-tabs {
    width: auto;
  }
}