.swiper-container-product {
  width: 550px;
  height: 90px;
}

@media (max-width: 575.98px) {
  .swiper-container-product {
    width: auto;
  }

  .container-product__slide img {
    margin-left: 40px;
  }
}
